@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*FIN DU RESET*/

body{
    background-image : url(../img/bg_aquarelle.jpg);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

a{
  text-decoration: none; color:black;
}


body>header{
    background-color: #fff;
    display:flex;
    width:80em;
    margin:0 auto 2em auto;    
    padding:0;

}
body>header img{
    height:5em;
}
body>header #menu {
    display:flex;
    width:50%;
    align-items: stretch;
    border-left: 5px double #819FD9;
}
body>header #menu a{
    flex:1;
    text-align: center;
    padding-top:2em;
    border-right: 5px double #819FD9;
}
body>header a:hover {
    animation: color-change 2s linear infinite alternate ;
}

 /*  @keyframes color-change {
    0% {
      background: white;
    }
    33.3333% {
      background: #3CADD6;
    }
    66.666% {
      background: #FECB40;
    }
    100% {
      background: #EA0033;
    }
  } */
  
body>header ul{list-style: none;}
body>header #user
{
    margin-left: auto;
    flex:0.2;
    border-left: 5px double #819FD9;
}
body>header #user>a{
    display:block;
    text-align: center;
    padding:2em 0;
    width:100%;
}
body>header #user ul{ 
    display: none;
    position: absolute;
    padding:0;
    margin:0;
    margin-left:-5em;
    background-color: #fff;
    border: 1px solid #819FD9;

    z-index: 1;
}
body>header #user ul li a{
    display:block;
    width:10em;
    padding:1em;
    border-bottom: 1px solid #819FD9;
}
body>header #user:hover ul{
    display:block;
}

/*Onglets de navigation*/
nav a:hover{
background-color: #819FD9;
color: #ffffff;
font-weight: 600;
}


h2{
  font-size: 1.8em;
  font-weight: 500;
  color: #436FC7;
 /*  background-color: navy; */
}

#wrapper{
    display:flex;    
    width:80em;
    margin:0 auto 2em auto;
}
#wrapper aside{
    background-color: #fff;
    flex:1;
    padding:1em;
    border-radius: 1em;
    -webkit-box-shadow: 15px 18px 21px -5px rgb(157, 129, 137);
    -moz-box-shadow: 15px 18px 21px -5px rgb(157, 129, 137);
    box-shadow: 15px 18px 21px -5px rgb(157, 129, 137);
}
#wrapper aside img{
    display: block;
    width:50%;
    margin:auto;
    
}


#wrapper main{
    flex:3;
    padding-left:1em;
    height: 80vh;
    overflow-y:  scroll;
    /* background-color: fuchsia; */
}
#wrapper main article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #fff;
    padding:1rem;
    margin-bottom: 1rem ;
    border-radius: 1em;
    border: 2px solid #819FD9; 
   /*  height: 40%;*/
} 
#wrapper main article h3{
    margin:0;
    padding:0;
    font-weight: normal;
    font-size:1em;

}
#wrapper main article time{
    float:left;
}
#wrapper main article address{
    text-align: right;
    margin-bottom: 1em;
}
#wrapper main article p{
    margin:0;
}
#wrapper main article footer{
    margin-top: 1em;
    text-align: right;
}
#wrapper main article footer small{
    float:left;
}

#wrapper.admin{flex-direction: row-reverse}
#wrapper.admin aside{flex:1;margin-left:1em;border-radius:0;padding:0;}
#wrapper.admin main{flex:2;background-color: #fff;border-radius: 0;padding:0;}
#wrapper.admin h2{text-align: center;}
#wrapper.admin h3{margin:0;}
#wrapper.admin nav{text-align: right;}
#wrapper.admin article{border: 2px solid #819FD9;;border-radius: 1em;padding:1em;margin:1em;}
#wrapper.admin article p{float:left;margin:0;}


.parameters dl dt{float:left;font-weight: bold;line-height: 1.5em;}
.parameters dl dd{margin-left:15em;line-height: 1.5em;}

.contacts {
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    align-content: flex-start ;
}
.contacts article{
    width:25em;
    height:7em;
    margin-right: 1em;
}
.contacts article img{
    float:right;
    height: 5em;
}


pre{
    color:#C7003B;
}


/****** Style des boutons ********/
.button{
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #fff;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
}

.inscription a:hover{
  color: #fff;
}


.button::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #436FC7 0%, #5DA9E9 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
.button:hover::before {
  width: 9em;
 }

 .button:hover{
  color: #fff;
 }

 /* .wallButton::before{
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #436FC7 0%, #5DA9E9 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
 }

 .wallButton:hover::before {
  width: 9em;
 }

 .wallButton:hover{
  color: #fff;
 } */


/****** Style des formulaires *******/
/*formulaire pour se connecter ou celui pour s'enregistrer*/
.formLoginRegist{
  display: flex;
  flex-direction: column;
  width: 50em;
  padding: 2%;
  /* background-color: cyan; */
}

input{
  width: 20rem;
  height: 2.5rem;
  border: 2px solid #819FD9;
  border-radius: 10px;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

#buttonRegis{
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #fff;
  box-shadow: 6px 6px 12px #c5c5c5,
              -6px -6px 12px #ffffff;
}


#buttonRegis::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #436FC7 0%, #5DA9E9 100%);
  transition: .5s ease;
  display: block;
  z-index: -1;
}

#buttonRegis:hover::before {
  width: 9em;
 }

 #buttonRegis:hover{
  color: #fff;
 }

/*formulaire pour créer des postes*/
.postsForm{
  background-color: #fff;
  border-radius: 1em;
  width: 96%;
  padding: 2em 1em;
  border: 2px solid #819FD9;
  justify-content: flex-start;
}

.postsForm label{
  margin-bottom: 2em;
  font-size: 1.3em;
  font-weight: 500;
  color: #436FC7;
  /* background-color: chartreuse; */
}


textarea{
  min-width: 20rem;
  min-height: 10rem;
  border: 2px solid #819FD9;
  border-radius: 1em;
  margin: 1em 0;
}


/* div qui contient le p: " Pas de compte?" et le bouton qui affiche le formulaire de connection */
.inscription{
  display: flex;
  flex-direction: column;
  margin-top: 0.3rem;
  padding: 2%;
  /* background-color: coral; */
}

.inscription p{
  /* background-color: darkgreen; */
  padding-bottom: 1rem;
}


